
body{
	margin:0;
	padding:0;
	font-family:'Segoe UI Light','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 20px;
	color:#333333;
	background: #DDD url(./image/alloy_bg.jpg) repeat-y fixed top center;
}
.alloyteam{
	position: absolute;
	left:50%;
	top:50%;
	margin: -150px 0 0 -360px;
	font-family:'Vrinda','Segoe UI','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 180px;
	font-weight:normal;
	text-align:center;
	color:#524db0;
	text-shadow:#666 1px 1px 8px;

	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(0, 128, 0, 1)), to(rgba(51, 51, 51, 1)));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.copyright{
	position: fixed;
	left:50%;
	bottom:0px;
	margin:0px 0 0 -160px;
	height:30px;
	color:#999999;
	font-family:Tahoma;
	font-size: 12px;
	text-align:center;
}

.copyright a{
	color:#999999;
	text-decoration:none;
}

.copyright a:hover,
.copyright a:focus{
	outline:none;
	text-decoration:underline;
}