
body{
	margin:0;
	padding:0;
	font-family:'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 20px;
	color:#333333;
	background: #DDD url(./image/bg.png) no-repeat fixed center center;
	background-size: cover;
}
.hidden{
	display: none;
}
.main{
	margin: auto;
	width:1000px;
	overflow: hidden;

}
.alloyLogo{
	display: block;
	float: left;

	height:50px;
}
.nav{

	clear:left;
	float: left;
	margin: 20px 0px;
	padding:0px;
	font-size: 28px;
	text-align:left;
	text-shadow:0 0 2px #aaa;
}
.nav li{
	float:left;
	margin: 0px;
	
	list-style:none;
}
.nav li a{
	margin:0px 5px 0 0;
	padding:5px 10px;

	color:#999;
	text-decoration:none;

}
.nav li a:hover{
	color:#333;
	text-shadow:0 0 2px #666;
}
.nav2{
	font-family:'Microsoft Yi Baiti';
	color:#666666;
}


.nav3{

	font-family:'Raavi';

}




.nav11{
	font-family:'Segoe UI Light','Segoe UI','Segoe UI WP','Microsoft Jhenghei','微软雅黑',sans-serif;
	font-size: 20px;
	text-align:center;
	color:#666666;
	margin:50px 0 0 0;
	text-shadow:0 0 1px #aaa;
}

.menu{
	
}
.menu li{
	float: left;
	clear: left;
	margin: 0 0 1px 0;
	width:400px;
	height:80px;
	background:rgba(240,240,240,0.5);

}


.copyright{
	margin:50px 0 0 0;
	height:50px;
	color:#999999;
	font-family:Tahoma;
	font-size: 12px;
	text-align:center;
}

.copyright a{
	color:#999999;
	text-decoration:none;
}

.copyright a:hover,
.copyright a:focus{
	outline:none;
	text-decoration:underline;
}